body {
  margin: 0;
  padding: 0;
}

/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
} */

html, body, #__nuxt {
  background-color: #2d2d2d; /* Replace with your actual background */
}